h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation_font{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
}
